# Data Structures and Sequences

## Tuple

In [1]:
tup = 4, 5, 6

In [2]:
print(tup)

(4, 5, 6)

## Unpacking

In [3]:
seq = [(1,2,3), (4,5,6),  (7, 8, 9)]

In [9]:
for a, b, c in seq:
    print("a={0}, b={1}, c={2}".format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

## List

In [13]:
a_list = [22, 3, 7, None]

In [14]:
tup = ('foo', 'bar', 'baz')

In [15]:
b_list = list(tup)

In [16]:
b_list

['foo', 'bar', 'baz']

In [17]:
b_list[1] = 'peekaboo'

In [18]:
b_list

['foo', 'peekaboo', 'baz']

In [19]:
gen = range(10)

In [20]:
gen

range(0, 10)

In [21]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
b_list.append('dwarf')

In [24]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [25]:
b_list.insert(1, 'red')

In [26]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [27]:
b_list.pop(2)

'peekaboo'

In [28]:
[4, None, 'foo'] + [7, 8, (2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [29]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [30]:
b.sort(key=len)

In [31]:
b

['He', 'saw', 'six', 'small', 'foxes']

## Bisect Module

In [34]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]

bisect.bisect(c, 2)

4

In [36]:
bisect.bisect(c, 5)

6

In [37]:
bisect.insort(c, 5)

In [38]:
c

[1, 2, 2, 2, 3, 4, 5, 7]

In [39]:
d = [2, 1, 4, 1, 0]

In [44]:
d.sort()
bisect.bisect(d, 1)

3

In [45]:
seq = [1, 2, 4]

In [50]:
seq[::-1]

[4, 2, 1]

## Built-in Sequence Functions

### enumerate

In [51]:
i = 0
for value in range(5):
    print(value)
    i += 1

0
1
2
3
4

In [56]:
for i, value in enumerate(range(5)):
    print(value)

0
1
2
3
4

In [67]:
## Mapping a List into a Dictionary
some_names = ['ola', 'john', 'simbi', 'ali']

mapping = {}

for i, value in enumerate(some_names):
    mapping[i] = value

print(mapping)

{0: 'ola', 1: 'john', 2: 'simbi', 3: 'ali'}

### sorted

In [75]:
data = [7, 1, 2, 6, 0, 3, 2]

print(f"Before sorting: [{data}]")

copy = sorted(data)
data.sort()  # in place


print(f"After sorting using sorted(): [{copy}]")

print(f"After sorting using sort(): [{data}]")

Before sorting: [[7, 1, 2, 6, 0, 3, 2]]
After sorting using sorted(): [[0, 1, 2, 2, 3, 6, 7]]
After sorting using sort(): [[0, 1, 2, 2, 3, 6, 7]]

### zip

In [80]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)

print(dict(zipped))

{'foo': 'one', 'bar': 'two', 'baz': 'three'}

### reversed

In [82]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [84]:
mapping = {}

for key, value in zip(['name', 'age'], ['ola', 6]):
    mapping[key] = value

print(mapping)

{'name': 'ola', 'age': 6}

### Default values

In [90]:
print(mapping.get('course', "NA"))

NA

## Functions

In [91]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [93]:
my_function(5, 6, 1)

0.09090909090909091

In [94]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda','south   carolina##', 'West virginia?']

In [96]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]','',value)
        value = value.title()
        result.append(value)
    return result

In [97]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [100]:
messy = "!o#la"

clean = re.sub('[!#]','',messy)

In [101]:
clean

'ola'

### Anonymous (Lambda) Functions

In [102]:
def short_function(x):
    return x + 2

In [103]:
equiv_anon = lambda x: x * 2

### Files and the OS

In [108]:
path = "./test.txt"

f = open(path)

In [109]:
for line in f:
    print(line.split(sep=','))

f.close()

['1', '2', '3\n']
['4', '5', '6']

In [111]:
with open(path) as f:
    lines = [x.rsplit() for x in f]
    print(lines)

[['1,2,3'], ['4,5,6']]